body {
  font-family: sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: white;
  margin: auto;
  text-shadow: 2px 2px 4px #0c3b30;
}

#turn{
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5px;
  margin:auto;
}

._container{
  border: 10px solid #2D142C;
  background-color: #5c2942 ;
  border-radius: 10px;
  display: inline-block;
  margin: auto;
  padding: 20px;
}

#board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: auto;
  gap: 10px;
  /* background-color: #60AB9A; */
}

.circle{
  background:#874790 ;
  border-radius: 50%;
  border: 2px ridge #F36F38;
  height: 70px;
  width: 70px;
}

@media (max-width:480px){
  .circle{
    width: 30px;
    height: 30px;
  }

  #board {
    gap: 3px;
  }

  .container{
    padding: 10px;
  }
}